/target
/.native
/.native-musl
/node_modules
/web/node_modules
/web/dist
/web/.output
/web/.tanstack
/.ffmpeg
/.libtorrent
/dev
/packages/*/node_modules
/mobile/node_modules
/mobile/target
/mobile/android
/mobile/ios
/mobile/.expo
/mobile/modules/*/android/build
